<section class="cv-component education-component">
    <h2 class="section-title">Education</h2>
    <ul>
        {{#each educations}}
        <li class="bottom-dashed no-bullets">
            <h4 class="education-title">{{educationTitle}}</h4>
            <p class="location">@ {{location}}</p>
            <img class="date-icon" src="./assets/date-icon.jpg" alt="date-icon">
            <time class="timespan">
                {{from}} - {{to}}
            </time>
            {{#if certificate}}
            <p>Certificate link: <em><a href="{{certificate}}" class="link hover-highlight" target="_blank">{{certificate}}</a></em></p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</section>