<section class="cv-component personal-info-component clearfix">
    <div class="pull-left">
        <h1 class="cv-name">{{names.first}} {{names.last}}</h1>
        <h3 class="cv-title">{{title}}</h3>
        <div class="contacts clearfix">
            {{#each contacts}}
            <div class="pull-left">
                <img class="img-contact" src="{{iconUrl}}"> {{#ifEqual type "email"}}
                <a href="mailto:{{content}}">{{this.content}}</a> {{else}}
                <em class="content">{{content}}</em> {{/ifEqual}}
            </div>
            {{/each}}
        </div>

        <div class="about-me">
            <h3>About me</h3>
            <p>{{aboutMe}}</p>
        </div>
    </div>
    <img class="photo pull-left" src="{{photoUrl}}" alt="photo of me">
</section>