<section class="cv-component projects-component">
    <h2 class="section-title projects-title">Projects</h2>
    <ul class="no-bullets projects">
        {{#each projects}}
        <li class="bottom-dashed">
            <strong>{{title}}</strong>
            <p>
                <a href="{{url}}" class="link" target="_blank" title="Home page">{{url}}</a>
            </p>
            <p>
                <a href="{{repository}}" class="link" target="_blank" title="Source code">{{repository}}</a>
            </p>
            <p class="description">
                {{description}}
            </p>
        </li>
        {{/each}}
    </ul>
    <link rel="stylesheet" href="./styles/projects.css">
</section>