<div class="gray-overlay">
	<div class="skill-details-container {{type}}">
		<a href="#" class="close-btn {{type}}">close</a>
		<article class="skill-details">
			<strong class="skill-title">{{title}}</strong>
			<p class="skill-description">{{description}}</p>
			{{#if code}}
			<code>{{code}}</code> {{/if}}
		</article>
	</div>
</div>